@model PaginatedViewModel<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @nameof(Category.Name)
            </th>
            <th>
                @nameof(Category.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
<ul>
@for (var i = 1; i <= Model.TotalPages; i++) {
        <li>
            @if (i == Model.Page) {
                <a style="color: red" href="/Categories?page=@i&pageSize=@Model.PageSize&orderBy=@Model.OrderBy&orderDirection=@Model.OrderDirection">@i</a>
            } else {
                <a href="/Categories?page=@i&pageSize=@Model.PageSize&orderBy=@Model.OrderBy&orderDirection=@Model.OrderDirection">@i</a>
            }
        </li>
    }
</ul>